In [1]:
import pandas as pd
data=pd.DataFrame ({"Numbers":range (1,9)})
subtotal=data["Numbers"].sum()
print("subtotal:",subtotal)

subtotal: 36